<?xml version="1.0" encoding="UTF-8"?>
<XML>
	<SERVER>
		<IP>94.229.67.46</IP>
		<PORT>6000</PORT>
	</SERVER>

	<SKIN>Default</SKIN>

	<VIDEO>
		<WIDTH>1920</WIDTH>
		<HEIGHT>1080</HEIGHT>
		<COLORBITS>16</COLORBITS>
		<GAMMA>255</GAMMA>
		<FULLSCREEN>TRUE</FULLSCREEN>
		<REFLECTION>true</REFLECTION>
		<LIGHTMAP>false</LIGHTMAP>
		<DYNAMICLIGHT>true</DYNAMICLIGHT>
		<SHADER>true</SHADER>
		<CHARACTORTEXTURELEVEL>0</CHARACTORTEXTURELEVEL>
		<MAPTEXTURELEVEL>8</MAPTEXTURELEVEL>
		<EFFECTLEVEL>0</EFFECTLEVEL>
		<TEXTUREFORMAT>1</TEXTUREFORMAT>
		<NHARDWARETNL>false</NHARDWARETNL>
		<FPSLIMIT>250</FPSLIMIT>
		<CAMFIX>0</CAMFIX>
	</VIDEO>

	<AUDIO>
		<BGM_MUTE>true</BGM_MUTE>
		<BGM_VOLUME>0.299600</BGM_VOLUME>
		<EFFECT_MUTE>false</EFFECT_MUTE>
		<EFFECT_VOLUME>1.000000</EFFECT_VOLUME>
		<SOUND_3D>1</SOUND_3D>
		<A8BITSOUND>false</A8BITSOUND>
		<INVERSESOUND>false</INVERSESOUND>
		<HWMIXING>false</HWMIXING>
		<HITSOUND>true</HITSOUND>
	</AUDIO>

	<MOUSE>
		<SENSITIVITY>1.166600</SENSITIVITY>
		<INVERT>FALSE</INVERT>
	</MOUSE>

	<JOYSTICK>
		<SENSITIVITY>1.000000</SENSITIVITY>
	</JOYSTICK>

	<KEYBOARD>
		<FORWARD alt="-1">18</FORWARD>
		<BACK alt="-1">32</BACK>
		<LEFT alt="-1">31</LEFT>
		<RIGHT alt="-1">33</RIGHT>
		<MELEEWEAPON alt="-1">17</MELEEWEAPON>
		<PRIMARYWEAPON alt="-1">19</PRIMARYWEAPON>
		<SECONDARYWEAPON alt="-1">34</SECONDARYWEAPON>
		<ITEM1 alt="-1">46</ITEM1>
		<ITEM2 alt="-1">47</ITEM2>
		<PREVOUSWEAPON alt="-1">256</PREVOUSWEAPON>
		<NEXTWEAPON alt="-1">257</NEXTWEAPON>
		<RELOAD alt="30">20</RELOAD>
		<JUMP alt="-1">57</JUMP>
		<SCORE alt="-1">15</SCORE>
		<MENU alt="-1">-1</MENU>
		<TAUNT alt="-1">41</TAUNT>
		<BOW alt="-1">7</BOW>
		<WAVE alt="-1">8</WAVE>
		<LAUGH alt="-1">9</LAUGH>
		<CRY alt="-1">10</CRY>
		<DANCE alt="-1">11</DANCE>
		<SCREENSHOT alt="-1">88</SCREENSHOT>
		<RECORD alt="-1">87</RECORD>
		<DEFENCE alt="-1">-1</DEFENCE>
		<TOGGLECHAT alt="-1">-1</TOGGLECHAT>
		<USEWEAPON alt="-1">258</USEWEAPON>
		<USEWEAPON2 alt="-1">259</USEWEAPON2>
		<SHOWFULLCHAT alt="-1">44</SHOWFULLCHAT>
	</KEYBOARD>

	<MACRO>
		<F1>/h</F1>
		<F2>/Provoke</F2>
		<F3>/hi</F3>
		<F4>/wave</F4>
		<F5>Hello!</F5>
		<F6>Let's have a good time and play fair.</F6>
		<F7>Good Shot !!</F7>
		<F8>Thank you very much.</F8>
		
	</MACRO>

	<ETC>
		<NETWORKPORT1>7700</NETWORKPORT1>
		<NETWORKPORT2>7800</NETWORKPORT2>
		<BOOST>FALSE</BOOST>
		<REJECT_NORMALCHAT>FALSE</REJECT_NORMALCHAT>
		<REJECT_TEAMCHAT>FALSE</REJECT_TEAMCHAT>
		<REJECT_CLANCHAT>FALSE</REJECT_CLANCHAT>
		<REJECT_WHISPER>FALSE</REJECT_WHISPER>
		<REJECT_INVITE>FALSE</REJECT_INVITE>
		<CROSSHAIR>1</CROSSHAIR>
	</ETC>

	

	<CHAT>
		<BACKGROUNDCOLOR>0</BACKGROUNDCOLOR>
	</CHAT>

	
</XML>
