td {font-size:10pt;line-height: 150%}
A:LINK    {TEXT-DECORATION:UNDERLINE; COLOR:BLUE}
A:VISITED {TEXT-DECORATION:UNDERLINE; COLOR:BLUE}
A:ACTIVE  {TEXT-DECORATION:UNDERLINE; COLOR:RED}
A:hover   {TEXT-DECORATION:UNDERLINE; COLOR:RED}
IMG {border: none}
A.menu:LINK    {TEXT-DECORATION:UNDERLINE; COLOR:BLUE}
A.menu:VISITED {TEXT-DECORATION:UNDERLINE; COLOR:BLUE}
A.menu:ACTIVE  {TEXT-DECORATION:UNDERLINE; COLOR:RED}
A.menu:hover   {TEXT-DECORATION:UNDERLINE; COLOR:RED}
